*, *: before, *: after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: sans-serif;
  font-size: 10px;
/*  width: 420px; */
/*  display: inline; */
}

nav {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 0px;
  height: 30px;
}

h1 {
  font-size: 2em; /* 20px */
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  padding: 0px;
  width: 90%;
}

h2 {
  font-size: 1.5em; /* 15px */
  font-weight: bold;
  line-height: 1.5;
  color: white;
/*  display: block; */
  padding: 2px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
}

li {
  list-style: none;
  font-size: 1.3em;
  color: white;
  margin-top: 3px;
/*  padding: 5px; */
/*  border-bottom: 0.5px solid #BDBDBD; */
  width: 100%;
  display: inline-block;
}

.section-container {
  width: 420px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.statusbar {
  background-image: url(../Images/Status_bar.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
/*  padding: 4px; */
  height: 20px;
  width: 100%;
}

.arrow-left {
  display: block;
  float: left;
  padding: 5px;
  width: 10%;
}

.map {
  background-image: url(../Images/map_stations.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 251px;
/*  width: 100%; */
}

.buslist { /* parent div of whiteline buslines */
  margin: 0 auto;
  padding: 0px;
/*  width: 100%; */
}

.whiteline {
  background-color: #F2F2F2; /* white */
  color: #F2994A;
  margin: 0 auto;
  padding: 0px;
}

.busline {  /* Bus on whiteline */
  font-size: 1.5em;
  color: #F2994A;
  text-align: left;
  margin: 0 auto;
/*  padding: 5px; */
  width: 25%;
  float: left;
}

.busdestination {  /* Destination on whiteline */
  font-size: 1.5em;
  color: #F2994A;
  text-align: left;
  margin: 0 auto;
/*  padding: 5px; */
  width: 52%;
  float: left;
}

.arrival {  /* Arrival on whiteline */
  font-size: 1.5em;
  color: #F2994A;
  text-align: center;
  margin: 0 auto;
/*  padding: 5px; */
  width: 40%;
/*  float: right; */
}

.bus-list {  /* parent of ul, grandparent of busnumber-list, busdestination-list & busfrequencey-list */
  background-color: #F2994A; /* orange */
  margin: 0 auto;
  padding: 0px;
}

.busnumber-list { /* number */
  float: left;
  font-size: 1.3em;
  padding: 5px;
  width: 20%;
}

.busdestination-list { /* text */
  float: left;
  padding: 5px;
  width: 46%;
}

.busfrequencey-list { /* text */
  float: left;
  font-weight: lighter;
  padding: 5px;
  width: 45%;
}

.arrival-list { /* minutes text */
  margin-left: 5px;
  padding: 10px 5px 5px 5px;
  color: white;
  font-size: 1.3em;
  text-align: center;
  width: 40%;
}

.padding {
  padding: 5px;
  border-bottom: 0.5px solid #BDBDBD;
}
